@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.cardprofile {
  background: linear-gradient(146.64deg, rgba(255, 255, 255, 0.5) -6.76%, rgba(0, 71, 255, 0.05) 102.96%);
  backdrop-filter: blur(5.61017px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 0px 112.203px;
}

.cardapps {
box-shadow: 0px 3.62664px 5.43995px rgba(0, 0, 0, 0.15);
border-radius: 21.7598px;
}

.cardabout {
  background: linear-gradient(146.64deg, rgba(255, 255, 255, 0.5) -6.76%, rgba(0, 71, 255, 0.05) 102.96%);
backdrop-filter: blur(5.39715px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 53.9715px 0px;
}